asgiref==3.9.1
beautifulsoup4==4.13.5
certifi==2025.8.3
charset-normalizer==3.4.3
Django==4.2.24
django-bootstrap-v5==1.0.11
django-extensions==4.1
gunicorn==23.0.0
idna==3.10
packaging==25.0
pillow==11.3.0
requests==2.32.5
soupsieve==2.8
sqlparse==0.5.3
typing_extensions==4.15.0
urllib3==2.5.0
