{% extends 'accounts/base.html' %}
{% load i18n %}

{% block content %}
<div class="text-center" style="width: 80%; margin: 0 auto">
   <h1>{% trans "Password reset sent" %}</h1>
   <h5>
     {% blocktrans %}
     We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
     {% endblocktrans %}
   </h5><br>
   <h6 style="width: 60%; margin: 0 auto">
     {% blocktrans %}
     If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
     {% endblocktrans %}
   </h6>
</div>
<div class="text-center">
  <a href="{% url 'index' %}">{% trans "Return to home page" %}</a>
</div>
{
