{%extends 'restaurantsystem/base.html' %}

{%block title %} Dishes Menu {% endblock %}

{%block content %}
<form method="get">
    <input type = "text" name="q" value="{{query}}" placeholder="Search a dish">
    <button type="submit">Search</button>
</form>

{% if perms.restaurantsystem.can_publish_dish %}
    <a href="?create=1">Create Dish</a>
    {% if show_form %}
    <form method="post">
        {% csrf_token %}
        {{ create_form.as_p}}
        <input type="hidden" name="action" value="create">
        <button type="submit">Add Dish</button>
        <a href="{% url 'dishes_menu' %}">Cancel</a>
    </form>
    {% endif %}
{% endif %}


<ul>
  {% for dish in dishes %}
  <li>
      <h3>{{dish.dish_name}}</h3>
      <p><strong>Price:</strong>{{dish.price}}</p>
      <p><strong>Description - </strong>{{ dish.description }}</p>
      <p><strong>Portion - </strong>{{ dish.portion }}</p>
      <p><strong>Specification - </strong>{{ dish.specification }}</p>
      {% if edit_dish_id == dish.id%}
      <form method="post">
          {% csrf_token%}
          {{ edit_form.as_p}}
          <input type="hidden" name="action" value="edit">
          <input type="hidden" name="dish_id" value="{{dish.id}}">
          <button type="submit">Save</button>
          <a href="{% url 'dishes_menu'%}">Cancel</a>
      </form>
      {% else %}
      <a href="?edit={{dish.id}}&page={{dishes.number}}&q={{query}}">Edit</a>
      <form method="post" style="display: inline;">
          {% csrf_token %}
          <input type="hidden" name="action" value="delete">
          <input type="hidden" name="dish_id" value="{{dish.id}}">
          <button type="submit" onclick="return confirm('Delete this dish?')">Delete</button>
      </form>
      {% endif %}

  </li>
  {% empty %}
    <li>No dishes found.</li>
  {% endfor %}
</ul>

   <div>
     {% if dishes.has_previous %}
          <a href="?q={{ query }}&page=1">Birinchi</a>
          <a href="?q={{ query }}&page={{ dishes.previous_page_number}}">Oldingi</a>
     {% endif %}

     Sahifa {{ dishes.number }} / {{ dishes.paginator.num_pages }}

     {% if dishes.has_next %}
          <a href="?q={{ query }}&page={{ dishes.next_page_number}}">Keyingi</a>
          <a href="?q={{ query }}&page={{ dishes.paginator.num_pages}}">Oxirgi</a>
     {% endif %}
   </div>
    <a href = " http://127.0.0.1:8000/">back</a>
{% endblock %}

